<div class="px-4 py-5 my-5 text-center align-items-center">
    <h1 class="display-5 fw-bold"> Atualizar Sua Receita</h1>

    <br><br><br><br>
    <div class="col-lg-2 mx-auto justify-content-center align-items-center">
        <img class="rounded" src="/imagens/<%= Receitas.image %>" width="300px" height="350px"
            alt="<%= Receitas.image %>" loading="lazy">

    </div>



</div>




<div class="row justify-content-center">
    <div class="col-8">




        <form action="" enctype="multipart/form-data" method="POST">
            <div class="row g-3">
                <input type="hidden" name="recipe_id" value="<%= Receitas._id %>">

                <div class="col-12">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="inputreceitas form-control" name="email" value="<%=Receitas.email %>"
                        required>
                </div>

                <div class="col-12">
                    <label for="nome" class="form-label">Nome</label>
                    <input type="nome" class="inputreceitas form-control" name="nome" value="<%= Receitas.nome %>"
                        id="nome">
                </div>

                <div class="col-12">
                    <label for="descricao" class="form-label">Descrição</label>
                    <textarea name="descricao" id="descricao" class="form-control" value="<%= Receitas.descricao %>"
                        cols="30" rows="4"></textarea>
                </div>

                <div class="col-12">
                    <label for="ingredientes" class="form-label">Ingredientes</label>
                    <small>Exemplo: Cebola, Alho, Sal, Óleo...</small>
                    <div class="listaIngredientes">
                        <div class="divIngredientes mb-1">
                            <input type="text" class="inputreceitas form-control" value="<%=Receitas.ingredientes %>"
                                name="ingredientes">
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <button type="button" class="btn btn-outline-primary" id="addIngredientesbtn">Adicionar +</button>

                </div>


                <div class="col-12">
                    <label for="categoria">Selecione o Estado</label>
                    <select class="form-select form-control" value="<%= Receitas.categoria %> " name="categoria"
                        id="Categoria">
                        <option selected> Selecione o Estado</option>
                        <option value="Nordeste">Nordestina</option>
                        <option value="Sul">Sulista</option>
                        <option value="Norte">Nortista</option>
                        <option value="Sudeste">Sudeste</option>
                        <option value="Centro-Oeste">Centro-Oeste</option>
                    </select>
                </div>



                <button type="submit" class="btn btn-primary">ENVIAR RECEITA</button>


            </div>




        </form>

        <br> <br> <br>
    </div>

</div>

</div>