<br>
<br>


<img src="/imagens/health.png" class="d-block mx-auto mb-4 img-fluid pt-4 rounded " width="405" height="265"
  loading="lazy">


<form method="POST" action="/calories" class="d-flex align-items-center justify-content-center col-md-6 offset-md-3 pb-5"
  style=" justify-content: center; align-items: center;">
  <div class="col-md-6 offset-md-3">
    <input width="100%" " type="search" name="pesquisarTermo" class="inputizinpersonalite"
      class="form-control" placeholder="Pesquise uma receita..." aria-label="Procurar">
  </div>


</form>

<div class="row row-cols-2 row-cols-lg-5 g2 g-lg-3 mb-4">

  <br>
  <br>
  <br>
  <% if (typeof Data.hits !=='undefined' ) { %>

   <% try { %>
    <p hidden ><%= Data.hits[0].recipe.description %></p>
<% for(var i=0; i<10; i++) {  %>
      <div class="card" style="width:14rem; background: #302e2e; justify-content: center; padding-left: 25px; ">
        <img class="card-img-top" src="<%= Data.hits[i].recipe.image %>" alt="<%= Data.hits[i].recipe.label %>">
        <div class="card-body" style="background: #1C1C1C">
          <h5 class="card-title" style="background: #1C1C1C">
            <%= Data.hits[i].recipe.label %>
          </h5>
          <p class="card-text" style="background: #1C1C1C">
            <%= Data.hits[i].recipe.description %>
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" style="background: #1C1C1C; display: flex;"> <b>
              <%= (Data.hits[i].recipe.calories).toFixed(2)%>kcal em <%=Data.hits[i].recipe.yield%> porções
            </b></li>
          <li class="list-group-item" style="background: #1C1C1C"> <b>Tipo do prato: <%= Data.hits[i].recipe.dishType %>
            </b> </li>
          <li class="list-group-item" style="background: #1C1C1C"> <b>Hora do dia: <%= Data.hits[i].recipe.mealType %>
            </b></li>
          <li class="list-group-item" style="background: #1C1C1C"><b>Pais de origem: <%= Data.hits[i].recipe.cuisineType
                %></b></li>
          <li class="list-group-item" style="background: #1C1C1C"><b>Quantidade em (g) <%=
                (Data.hits[i].recipe.totalWeight).toFixed(2) %></b></li>


        </ul>

        <div>
          <a style="text-decoration: none;" href="<%= Data.hits[i].recipe.url %>" class="card-link pt-4"
            target="_blank">Link da receita</a>
        </div>
      </div>

      <% }; %>

      <%  } catch { %> 
       
       
    
        
        <div class="card" style="min-width: 500px; margin-left: 448px;">
          <div class="card-body">
            <h5 style="background: #1C1C1C" class="card-title">Receita não encontrada</h5>
            <p style="background: #1C1C1C" class="card-text">Não foi possivel encontrar esta receita, se quiser poderá posta-la posteriormente</p>
          </div>
          <img class="card-img-bottom"   src="/imagens/chefbarba.png" alt="Card image cap">
        </div>

    <% }; %>



      <% } %>
     
</div>