<div class="row flex-lg-row-reverse align-items-center g-5 py-4 mb -4">
    <div class="col-12 col-lg-6">
        <img src="/imagens/doisbestao.jpg" widht="607" height="600" class="d-block mx-lg-auto img-fluid rounded"
            loading="lazy">
    </div>
    <div class="col-12 col-lg-6">
        <h4 class="display-9 fw-bold  mb-3">Venha conhecer nossas receitas culinárias onde usaremos ingredientes simples e
            frescos e os transformaremos em refeições sofisticadas e elegantes para o cozinheiro doméstico diário.</h4>
        <p class="lead">
            Explore nossa grande listas de receitas deliciosas, incluido receitas de diversas das regiões do
            Brasil,sobremesas fáceis , comidas veganas e vegetarianas e receitas sem glúten.

        </p>
        <div class="d-grip gap-2 d-md-flex justify-content-md-start">
            <a href="/explorar-ultimo" class="btn btn-primary btn-dark btn-lgpx-4 me-2">Mostrar últimas receitas</a>
            <a href="/receita-aleatoria" class="btn btn-outline-secondary btn-lgpx-4 me-2">Receitas aleatorias</a>
        </div>


    </div>

</div>

<!-- Cetegorias de comidas-->
<div class="row row-cols-2 row-cols-lg-6 g-2 g-lg-3 py-4">

    <!--  PUXANDO DADOS VIA EJS-->

    <% if(categories !='' ) { %>
        <% categories.forEach(function(categoria,index){%>
            <a href="/categories/<%- categoria.nome %> " class="col text-center categorias_link">
                <div class="categorias_img shadow">
                    <img src="imagens/<%-categoria.imagem %> " alt="<% categoria.nome %> " loading="lazy">
                </div>
                <div class="pt-1">
                    <%- categoria.nome %>
                </div>

            </a>
            <% }) %>
                <% } %>



                    <a href="/categories" class="col text-center categorias_link">
                        <div class="categorias_img shadow">
                            <img src="/imagens/todos.jpg" alt="" loading="lazy">
                        </div>
                        <div class="pt-1">Mostrar Todas</div>
                    </a>
</div>
<!-- Cetegogias de comidas final-->

<!-- Começo final-->
<section class="pb-4 pt-4">
    <div class="d-flex mb-2 align- items-center">
        <h2>Últimas Receitas</h2>
        <a href="/explorar-ultimo" class="ms-auto">Ver mais</a>
    </div>

    <div class="row row-cols-2  row-cols-lg-5 g-2 g-lg-3">


        <% if (comida !='' ) { %>
            <% comida.ultimasReceita.forEach(function(receita,index) { %>
                <a href="/receita/<%= receita._id %> " class="col text-center categorias_link">
                    <div class="categorias_img  categorias_img-maior shadow">
                        <img class="personalizado" src="/imagens/<%=receita.image %> " alt="<%= receita.nome %> "
                            laading="lazy">
                    </div>
                    <div class="pt-1">
                        <%= receita.nome%>
                    </div>
                </a>
                <% }) %>
                    <% } %>
    </div>

</section>

<!-- final final-->


<!-- Começo final-->
<section class="pb-4 pt-4">
    <div class="d-flex mb-2 align- items-center">
        <h2>Receitas do Sul</h2>
        <a href="/categories/Sudeste" class="ms-auto">Ver mais</a>
    </div>

    <div class="row row-cols-2  row-cols-lg-5 g-2 g-lg-3">


        <% if (typeof comida.sulista !=='Undefined' && comida.sulista.length> 0) { %>
            <% comida.sulista.forEach(function(receita,index) { %>
                <a href="/receita/<%= receita._id %> " class="col text-center categorias_link">
                    <div class="categorias_img  categorias_img-maior shadow">
                        <img class="personalizado" src="/imagens/<%=receita.image %> " alt="<%= receita.nome %> "
                            laading="lazy">
                    </div>
                    <div class="pt-1">
                        <%= receita.nome%>
                    </div>
                </a>
                <% }) %>
                    <% } %>
    </div>

</section>

<!-- final final-->


<!-- Começo final-->
<section class="pb-4 pt-4">
    <div class="d-flex mb-2 align- items-center">
        <h2>Receitas do Nordeste</h2>
        <a href="/categories/Nordeste" class="ms-auto">Ver mais</a>
    </div>

    <div class="row row-cols-2  row-cols-lg-5 g-2 g-lg-3">


        <% if (comida.nordestina !=='Undefined' && comida.nordestina.length> 0) { %>
            <% comida.nordestina.forEach(function(receita,index) { %>
                <a href="/receita/<%= receita._id %> " class="col text-center categorias_link">
                    <div class="categorias_img  categorias_img-maior shadow">
                        <img class="personalizado" src="/imagens/<%=receita.image %> " alt="<%= receita.nome %> "
                            laading="lazy">
                    </div>
                    <div class="pt-1">
                        <%= receita.nome%>
                    </div>
                </a>
                <% }) %>
                    <% } %>
    </div>

</section>

<!-- final final-->

<!-- Começo final-->
<section class="pb-4 pt-4">
    <div class="d-flex mb-2 align- items-center">
        <h2>Receitas do Norte</h2>
        <a href="/categories/Norte" class="ms-auto">Ver mais</a>
    </div>

    <div class="row row-cols-2  row-cols-lg-5 g-2 g-lg-3">


        <% if (typeof comida.nortista !=='Indefinido' && comida.nortista.length> 0) { %>
            <% comida.nortista.forEach(function(receita,index) { %>
                <a href="/receita/<%= receita._id %> " class="col text-center categorias_link">
                    <div class="categorias_img  categorias_img-maior shadow">
                        <img class="personalizado" src="/imagens/<%=receita.image %> " alt="<%= receita.nome %> "
                            laading="lazy">
                    </div>
                    <div class="pt-1">
                        <%= receita.nome%>
                    </div>
                </a>
                <% }) %>
                    <% } %>
    </div>

</section>

<!-- final final-->
<!-- Começo final-->
<section class="pb-4 pt-4">
    <div class="d-flex mb-2 align- items-center">
        <h2>Receitas do Centro-Oeste</h2>
        <a href="/categories/Sudeste" class="ms-auto">Ver mais</a>
    </div>

    <div class="row row-cols-2  row-cols-lg-5 g-2 g-lg-3">


        <% if (typeof comida.centro !=='Indefinido' && comida.centro.length> 0) { %>
            <% comida.centro.forEach(function(receita,index) { %>
                <a href="/receita/<%= receita._id %> " class="col text-center categorias_link">
                    <div class="categorias_img  categorias_img-maior shadow">
                        <img class="personalizado" src="/imagens/<%=receita.image %> " alt="<%= receita.nome %> "
                            laading="lazy">
                    </div>
                    <div class="pt-1">
                        <%= receita.nome%>
                    </div>
                </a>
                <% }) %>
                    <% } %>
    </div>

</section>

<!-- final final-->

<!-- Começo final-->
<section class="pb-4 pt-4">
    <div class="d-flex mb-2 align- items-center">
        <h2>Receitas do Sudeste</h2>
        <a href="/categories/Sul" class="ms-auto">Ver mais</a>
    </div>

    <div class="row row-cols-2  row-cols-lg-5 g-2 g-lg-3">


        <% if (typeof comida.sudeste !=='undefined' && comida.sudeste.length> 0) { %>
            <% comida.sudeste.forEach(function(receita,index) { %>
                <a href="/receita/<%= receita._id %> " class="col text-center categorias_link">
                    <div class="categorias_img  categorias_img-maior shadow">
                        <img class="personalizado" src="/imagens/<%=receita.image %> " alt="<%= receita.nome %> "
                            laading="lazy">
                    </div>
                    <div class="pt-1">
                        <%= receita.nome%>
                    </div>
                </a>
                <% }) %>
                    <% } %>
    </div>

</section>

<!-- final final-->

<!-- Enviar start-->
<section class="px-4 py-5  my-5 text-center">
    <img src="/imagens/footer.jpg" class="d-block mx-auto mb-4 img-fluid rounded-circle"
        alt="Publique sua receita de graça todo dia" width="566" height="208" loading="lazy">
    <h1 class="display-5  fw-bold">Publique sua receita de graça todo dia</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Publique sua receita para milhares de pessoas de graça.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="/enviar-receita" class="btn btn-primary btn-dark btn-lg">Enviar Receita</a>
        </div>
    </div>
</section>



<!-- Enviar final-->

<section class="px-4 py-5  my-5 text-center">

    <h1 class="display-5  fw-bold">Verifique as calorias das receitas</h1>
    <img src="/imagens/calories.png" class="d-block mx-auto mb-4 img-fluid pt-4 rounded-circle " width="360"
        height="170" loading="lazy">
    <div class="col-lg-6 mx-auto">
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="/calories" class="btn btn-primary btn-dark btn-lg">Pesquisar calorias</a>
        </div>
    </div>
</section>





<section class="pb-4 pt-4">
    <div class="d-flex mb-2 align- items-center">
        <h2>Locais com boas receitas </h2>
    </div>

    <div class="row row-cols-2  row-cols-lg-5 g-2 g-lg-3">


        <% Dados.forEach(function(dado) { %>
            <a href="/recomendations/<%= dado.id %> " class="col text-center categorias_link">
                <div class="categorias_img  categorias_img-maior shadow">
                    <img class="personalizado" src='<%= dado.foodimg %>' alt="receitinha " laading="lazy">
                </div>
                <div class="pt-1">
                    <%=dado.name%>
                    <p>Restaurante: <%=dado.restaurant%></p>


                     

                </div>
            </a>
            <% }) %>


    </div>

</section>